---
# base settings
Language: Cpp
Standard: Cpp03
ColumnLimit: 120
# indent settings
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
# alignment settings
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
# break lines settings
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
CompactNamespaces: true
InsertBraces: true
# insert/remove spaces settings
BitFieldColonSpacing: After
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: false
# sort
SortUsingDeclarations: Never
...
